.containerGamelist {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* LANDING PAGE */

.gameList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vw;
  color: white;
}

.containerGamelist h2 {
  color: white;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: var(--h1-primary-font);
}

.gamecomponent {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid;
  height: 300px;
  position: relative;
}

.description {
  display: flex;
  flex-direction: column;
  position:absolute;
  bottom:20px;
  right:auto;
}

.gamename {
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid aliceblue;
  font-family: var(--h3-primary-font);
}

.screenshot {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .gameList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .gameList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 3em;
  }
  .logo {
    height: 3.5em;
    width: 3.5em;
    padding-top: 2em;
  }
}

@media screen and (max-width: 550px) {
  .gameList {
    grid-template-columns: 1fr;
  }
}

/* /LANDING PAGE */