.scoreListItem{
    color:white;
    font-size:30px;
    /*margin: normal20px;*/
    /*margin-left: 500px;*/
    text-align: center;
}

.scoreListClass{}

.gameListClass{}

/*=======*/
/*    font-size: 30px;*/
/*}*/

