@import "reset.css";
@import "Variables.css";

body{
    font-family: "Press Start 2P", cursive;
    font-weight: 400;
    font-size: 16px;
}

h1{
    font-family: "Press Start 2P", cursive;
    font-weight: 400;
    font-size: 30px;
}

h3{
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
}