html {
  background-image: radial-gradient(
    circle at top right,
    hsl(112, 60%, 23%),
    hsl(226, 49%, 26%)
  );
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

#container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* HEADER */
header {
  width: 100%;
  margin-bottom: 2em;
}

.headerLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  width: 5em;
  height: 5em;
  padding-top: 3em;
}

header a:link {
  color: white;
}

/* visited link */

header a:visited {
  color: white;
}

/* mouse over link */

header a:hover {
  color: white;
}

/* selected link */

header a:active {
  color: white;
}

header a {
  text-decoration: none;
}

header h1 {
  text-align: center;
  font-size: 4em;
}

.navbar {
  display: table;
  margin: 0 auto;
  font-size: 1.25em;
}

.nav-list {
  display: table-row;
}

.nav-item {
  display: table-cell;
  padding: 0 0 0 0.5em;
}
/* /HEADER */

/* IFRAME */
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* /IFRAME */

/* LANDING PAGE */
.gameList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vw;
  color: white;
}

h2 {
  color: white;
  font-size: 2em;
}

.gamecomponent {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid;
}

.description {
  display: flex;
  flex-direction: column;
}

.gamename {
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid aliceblue;
}

.screenshot {
  width: 100%;
  max-width: 200px;
  max-height: 300px;
}

@media screen and (max-width: 1200px) {
  .gameList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .gameList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 3em;
  }
  .logo {
    height: 3.5em;
    width: 3.5em;
    padding-top: 2em;
  }
}

@media screen and (max-width: 550px) {
  .gameList {
    grid-template-columns: 1fr;
  }
}
/* /LANDING PAGE */
